<h1>About us</h1>

<p>
	We are visualizing growth rate of real estate properties over a selected area of time.
	This can be either the past or the future!
</p>
<p>
	We offer two different features:
	<ol>
		<li>Show historical information on how prices changed for properties in selected areas.</li>
		<li>Show predictions based on historical data on how prices going to change in the future</li>
	</ol>
</p>
<p>
	Based on our predictions investors can see right away in which locations it is most likely to buy
	real estates in order to sell them with benefit in the future.
</p>
<p>
	You can use a slider to show different time in history or in the future to the avarage growth rate
	of a certain area.
</p>
<p>
	Green squares indicate increase in value, red squares indicate a decrease.
</p>

<img src="/img/example.png" />