<div class="row">
	<div ng-if="$state.is('home')" class="col-xs-12 text-center">
		<h1>Smart real estate investor</h1>
		<p class="lead">Our service allows to find areas in Berlin where real estate price grew faster that on  average and offer best apartments from ImmoScout24</p>
	</div>
	<div class="col-xs-12" ng-class="{'col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center':$state.is('home')}">
		<form>
			<div class="form-group">
    			<input type="text" sb-search-input ng-model="Data.search.query" class="form-control input-lg" placeholder="Start typing a city, district or a street">
  			</div>
		</form>
	</div>
</div>
<div ui-view="search" style="overflow-y:scroll" left-block></div>